/* Google fontes */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=DynaPuff:wght@400..700&family=Rozha+One&display=swap');


/* Variáveis de cores */

/* Definir cores tema Dark */

:root,
:root[data-theme="dark"] {

  --bg: rgb(39, 39, 39);
  /* Cor de Fundo */
  --color: rgb(206, 206, 206);
  /* Cor de Textos */
  --hover: rgb(243, 243, 243);
  --sombra: rgb(226, 226, 226);
}


/* Definir cores tema Light */
:root[data-theme="light"] {

  --bg: rgb(206, 206, 206);
  /* Cor de Fundo */
  --color: rgb(39, 39, 39);
  /* Cor de Textos */
  --hover: rgb(5, 5, 5, );
  --sombra: rgb(37, 37, 37);

}


/* 
Root fontes

Rozha One:
  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;

Akaya Kanadaka: 
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;

DynaPuff:
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

*/
/*regra css*/

/* identeção alt + shift + F */
/* comentário alt + shif + A */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  */
  scrollbar-width: thin;
  scrollbar-color: thin;
  border: 1px;
}


html[data-theme='dark'] .logo1 {
  filter: invert(1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--color);
}

a {
  color: var(--color);
  text-decoration: none;
}


ul {
  list-style: none;
}

h1 {
  font-size: 40px;
  font-weight: 200;
  font-family: "outfit", sans-serif;
  letter-spacing: 3px;

}

h2 {
  font-size: 35px;
  font-family: "Rozha One", serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;

}

h3 {
  font-size: 25px;
  font-family: "outfit", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;

}

h4 {
  font-size: 20px;
  font-family: "Rozha One", serif;
  font-weight: 300;
  text-align: left;
}

span {
  font-family: "outfit" sans-serif;
}

p,
li,
span {
  font-size: 18px;
}

p {
  text-align: justify;
  font-family: "inter", sans-serif;
}

strong {
  font-weight: 800;
}



/* Header */

#header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  z-index: 999999;
  /* é possível colocar dois valores em uma so linha em vez de criar mais outras */

}

/* logo1 */
.logo1 {
  /* se o valor estiver em rem tem q multiplicar por 16 */
  width: 56px;
  /* comprimento */
  height: 56px;
  /* altura */
  /* auto */
}

.header-toggle {
  display: flex;
  justify-content: flex-end;
}

#toggleTheme {
  color: var(--color);
  /* cor de texto */
  font-size: 20px;
  /* tamanho da fonte entre 16 ~ 20*/
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

/* menu desktop */
.menu {
  display: flex;
  align-items: center;
  gap: 25px;

}

/* letra maiuscula */
.menu-item {
  width: 100%;
}

.menu-link {
  display: flex;
}

/* span dentro do a href */
/* incluindo a fonte das letras - buscar no google fontes */
.menu-texto {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "DynaPuff", system-ui;
  font-weight: 300;
}

.header-nav {
  /* menu desktop */
  display: none;

}

.menu-mobile .menu-link {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

}

/* Menu Mobile */
.menu-mobile {
  bottom: 0;
  position: fixed;
  width: 100vw;
  /* VW = viewPort - width */
  justify-content: space-between;
  border-top: 1px solid var(--color);
  z-index: 1;
  background: var(--bg);
}

.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto {
  color: var(--hover);
  font-weight: 600;
}

.icone-link,
.menu-texto {
  color: #6a6a6a;
  font-weight: 600;
}

.icone-link {
  font-size: 25px;
}

/* fim CSS do menu */
/* Home / Main */

#home {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.video iframe {
  width: 100%;
  aspect-ratio: 16/09;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: transparent;
  width: 100%;
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid var(--color);
}

.btn-primary:hover {
  border: 1px solid var(--bg);
}

.btn span,
.btn i {
  color: var(--color);
  font-size: 18px;
}

.btn:hover {
  transform: scale(1.10);
  transition: all ease-in-out .5s;
}

.btn:hover span,
.btn:hover i {
  color: var(--hover);
}

.icon-social {
  font-size: 25px;
  color: rgb grey;
}

.icon-social:hover {
  color: var(--hover);

}

/* Estrutura */
/* Projetos */
.projetos {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.projetos-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.projeto-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-img {
  width: 100%;
  pointer-events: none;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 0px 05px var(--sombra);
}

.card-description {
  font-family: "Rozha One", serif;
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 15px;
}

.icon-list {
  color: #05a2e5;
  font-size: 14px;
}

.card-item {
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

}



/* ATUALIZAÇÕES FUTURAS */
#home,
.projetos,
.sobre {
  /* Atualização futura*/
  padding: 40px 16px;
}

/* Sobre */
.sobre {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sobre-perfil {
  width: 100%;
  pointer-events: none;
  border-radius: 50%;
  border: 8px solid #cacaca;
  object-position: center;
}

.sobre-content1,
.sobre-content2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 80px;
}

.sobre-descricao {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.sobre-skills,
.sobre-icones {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sobre-skills i,
.sobre-icones i {
  font-size: 20px;
  color: #05a2e5;
}

.sobre-content2 .col1,
.sobre-content2 .col2 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 32px;
}

.sobre-content2 .col1 .row1,
.sobre-content2 .col1 .row2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row2 .sobre-lista li {
  margin-bottom: 10px;
}

/* accordion */
.accordion-header {
  width: 100%;
  border: 1px solid var(--color);
  display: flex;
  background: transparent;
  justify-content: space-between;
  padding: 8px 16px;
  align-items: center;
  transition: ease-in-out .5s;
}

.accordion-header span {
  color: var(--color);
  /* pode usar o texto e caixa alta - text-transform: capitalize; */
}

.accordion-body {
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid var(--color);
  display: none;
}

.accordion-item.active .accordion-header {
  background: var(--color);
}

.accordion-item.active .accordion-header span .accordion-item.active .accordion-header i {
  color: var(--bg);
}

.accordion-item.active .accordion-body {
  display: flex;
}

/* Contato */
.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-top: 1px solid var(--color);
  border-bottom: 1px solid var(--color);
}

.contato p {
  text-align: justify;
  margin-top: 50px;
  font-size: 20px;
  padding: 0 140px;
}

.contato span {
  margin-left: 10px;
  text-transform: uppercase;
}

.menu-link:hover span,
.menu-link:hover i {
  color: var(--hover);
}

/* Forms */
.form-contato {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  background: #989898;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
}

.form-contato label {
  color: black;
  font-size: 18px;
  font-weight: 600;
  font-family: "Rozha One" sans-serif;
}

.form-contato input,
.form-contato textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: var(--bg);
  background: #d8d5d5;
  border-radius: 6px;
  border: 1px solid gray;
  transition: 0.3 ease-in-out;
  outline: none;
}

.form-contato input:focus,
.form-contato textarea:focus {
  border-color: var(--bg);
  box-shadow: 0 0 5px black;
}

.form-contato textarea {
  resize: vertical;
  min-height: 120px;
}


/* Roda Pé */
footer {
  margin-bottom: 60px;
}

footer p {
  font-size: 12px;
  text-align: center;
  padding: 16px;
  font-family: "Inter", sans-serif;
}

footer a {
  color: #989898;
}

footer i:hover,
footer a:hover {
  color: #05a2e5;
  transition: ease-in-out .3s;
}

.contato .email {
  color: yellow;
}


/* css responsivo */
/* min-width = a partir de --» */

/* telas a partir de 768px */
@media (min-width: 768px) {

  #header {
    background-color: var(--bg);
    position: fixed;
    border-bottom: 1px solid #989898;
    padding: 16px 96px;
  }

  .header-nav {
    display: flex;
  }

  .header-nav,
  .header-toggle {
    min-width: 20%;
    /* width tela a partir de 768px até valor infinito*/
  }

  .nav-mobile {
    display: none;
  }

  #home,
  .projetos .sobre {
    /* Atualização futura */
    padding: 128px 96px 64px;

  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}


/* Fim 768 */

/* Inicio 992 */
@media (min-width: 992px) {
  .projeto-card {
    flex-direction: row;
  }

  .projeto-card.card-reverse {
    flex-direction: row-reverse;
    justify-content: end;
  }

  .card-reverse .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
  }

  .card-img {
    width: 55%;
  }

  .sobre {
    gap: 10px;
  }

  .sobre-content1,
  .sobre-content2 {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: flex-start;
    gap: 64px;
  }


  .sobre-descricao h2 {
    text-align: left;
  }

  .descrição-button {
    justify-content: flex-start;
  }

}

/* Fim 992 */

/* 1200 pixels */
@media (min-width: 1200px) {

  #home,
  .sobre {
    padding: 160px 96px 32px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 65px;
  }

  p,
  span,
  li {
    font-size: 20px;
    /* pode variar de 20px a 26px */
  }

  .descricao-button .btn {
    width: auto;
  }


}

/* Fim da 1200px */

/* inicio da 1400px */
@media (min-width: 1400px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 80px;
  }

  .projetos,
  .sobre {
    padding: 160px 240px 64px;
  }
}



/* 0 até 992px */
@media (max-width: 992px) {
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sobre {
    padding: 0 96px;
  }

  .sobre-perfil {
    width: 50%;
    margin-left: 25%;
    align-items: center;
  }

}