/* Google fontes */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=DynaPuff:wght@400..700&family=Rozha+One&display=swap');


/* Variáveis de cores */

/* Definir cores tema Dark */

:root,
:root[data-theme="dark"] {

    --fundo-header: yellow;
}


/* Definir cores tema Light */
:root[data-theme="light"] {

    --fundo-header: green;
}


/* 
Root fontes

Rozha One:
  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;

Akaya Kanadaka: 
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;

DynaPuff:
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

*/
/*regra css*/

/* identeção alt + shift + F */
/* comentário alt + shif + A */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*  */
    scrollbar-width: thin;
    scrollbar-color: red;
    border: 1px;
}

body {
    background-color: rgb(39,39,39);
    color: whitesmoke;
    
}

a {
    color: whitesmoke;
    text-decoration: none;
}

ul {
    list-style: none;
}

html[data-teme='dark'] .logo1 {
    filter: invert(1);
 }

 h1 {
   font-size: 40px;
   font-weight: 500;
   font-family: "outfit", sans-serif;
   letter-spacing: 3px;
 }

 p, 
 li, 
 span {
      font-size: 18px;
 }

 p {
   text-align: justify;
   font-family: "inter" , sans-serif;
 }

 strong {
   font-weight: 800;
 }



/* Header */

 #header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px; /* é possível colocar dois valores em uma so linha em vez de criar mais outras */

    
 }

 /* logo1 */
 .logo1 {
    /* se o valor estiver em rem tem q multiplicar por 16 */
    width: 56px; /* comprimento */
    height: 56px; /* altura */ /* auto */
 }

 .header-toggle {
    display: flex;
    justify-content: flex-end;
 }

 #toggleTheme {
    color: whitesmoke; /* cor de texto */
    font-size: 20px; /* tamanho da fonte entre 16 ~ 20*/
    cursor: pointer;
    transition: all 0.6s ease-in-out;
 }

 /* menu desktop */
 .menu {
    display: flex;
    align-items: center;
    gap: 25px;

 }
/* letra maiuscula */
 .menu-item {
    width: 100%;
 }

 .menu-link {
    display: flex; 
 }
 /* span dentro do a href */
 /* incluindo a fonte das letras - buscar no google fontes */
 .menu-texto {
   font-size: 12px;
   text-transform: uppercase;
   font-family: "DynaPuff", system-ui;
   font-weight: 300;
 }

.header-nav {/* menu desktop */
   display: none;

}

.menu-mobile .menu-link {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 8px 16px;
   
}

/* Menu Mobile */
.menu-mobile {
   bottom: 0;
   position: fixed;
   width: 100vw; /* VW = viewPort - width */
   justify-content: space-between;
   border-top: 1px solid #989898;
   z-index: 1;
   background: rgb(39,39,39);
}

 .menu-link.active .menu-icone, 
 .menu-link.active .menu-texto,
 .menu-link:hover .menu-icone,
 .menu-link:hover .menu-texto {
   color: red;
   font-weight: 600;
 }

 .icone-link,
 .menu-texto {
   color: #6a6a6a;
   font-weight: 600;
 }

 .icone-link {
   font-size: 25px;
 }
 /* fim CSS do menu */
 /* Home / Main */

 #home {
   display: flex;
   flex-direction: column;
   gap: 32px;
 }

 .main-content {
   display: flex;
   flex-direction: column;
   gap: 25px;
 }

 .video iframe {
   width: 100%;
   aspect-ratio: 16/09;
 }

 .btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   background: transparent;
   width: 100%;
   border: none;
   padding: 8px 10px;
   border-radius: 10px;
   cursor: pointer;
 }

 .btn-primary {
      border: 1px solid white;
 }

 .btn span,
 .btn i {
   color: #fff;
   font-size: 18px;
 }

 .btn:hover {
   transform: scale(1.02);
   transition: all ease-in-out  .5s;
 }

 .btn:hover span,
 .btn:hover i {
    color: red;
 }

 .icon-social {
  font-size: 22px;
  color: #989898;
 }

 .icon-social:hover {
  color: rgb(39,39,39);
  background: #ffffff;
 }

 /* Estrutura */
 /* # é ID e . Classe */

 /* ATUALIZAÇÕES FUTURAS */
 #home {
  padding: 40px 16px;
 }


 /* css responsivo */
 /* telas a partir de 768px */
 @media (min-width: 768px) {
   
    #header {
    background-color: var(--fundo-header);
    position: fixed;
    border-bottom: 1px solid rgb (#989898);
    padding:  16px 96px;
    }

   .header-nav {
      display: flex;
    }
   .header-nav,
   .header-toggle {
      min-width: 20%; /* width tela a partir de 768px até valor infinito*/
   }
   .nav-mobile {
      display: none;
   }

   #home { /* Atualização futura */
    padding: 128px 96px 64px;
    
   }
   .main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }
 
 }

/* 1200 pixels */ 
 @media (min-width: 1200px) {
  #home {
    padding: 160px 96px 32px;
    }
 }